body {
	/*background-color: #333; */
	color: black;
	background: -webkit-linear-gradient(top, #154d9e, #b8d8e4);
	padding: 0px;
  margin: 0px;
}

div#main {
	margin:auto;
	width: 330px;
	background-color:#aaa;
	padding:10px;
	border-radius:15px;
	border:1px solid #000;
}

div#canvasDiv {
  padding:10px;
  display: flex;
  justify-content: center;
}

div#steuerung {
	background-color:#fff;
	padding:8px;
	border-radius:15px;
	border:1px solid #666;
}

button {
    background-color: #000000; /* Black */
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
}

.control {
	background-color: #000000; /* Black */
	border: none;
	color: white;
	padding: 10px 13px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 12px;
}

#gradient {
  width: 100%;
  height: 800px;
  padding: 0px;
  margin: 0px;
}
