body {
	background-color: #333;
	color: black;
}

div#main {
	margin:auto;
	width: 300px;
	background-color:#aaa;
	padding:10px;
	border-radius:15px;
	border:1px solid #000;
}

div#canvasDiv {
  padding:10px;
  display: flex;
  justify-content: center;
}

div#steuerung {
	background-color:#fff;
	padding:10px;
	border-radius:15px;
	border:1px solid #666;
}

div#anzeige {

}

button {
    background-color: #000000; /* Black */
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
}

.control {
	background-color: #000000; /* Black */
	border: none;
	color: white;
	padding: 10px 13px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 12px;
}
